<section fxLayout="row wrap" fxLayoutAlign="center center" class="admin-container">
    <mat-card  fxFlex.xs="100%">        
      <mat-card-actions align="start">             
        <mat-form-field  appearance="fill">
            <mat-label i18n="@@name">Name</mat-label> 
                <input matInput #name >        
        </mat-form-field>          
        <button i18n="@@search" mat-raised-button color="primary" (click)="findUsersByName(name.value)">Search</button>   
      </mat-card-actions>     
      <mat-error *ngIf="errorMessage" >
        {{errorMessage}}
      </mat-error>
        <mat-card-content> 
            <table mat-table [dataSource]="users" *ngIf="users" class="admin-table">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef i18n="@@code"> Code </th>
                    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                </ng-container>
                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let user"> <img src="/assets/img/{{user.imageUrl}}" width="50"> </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n="@@name"> Name </th>
                    <td mat-cell *matCellDef="let user">
                        <a href="#" [routerLink]="['/user/1', user.id]">{{user.name}} {{user.surname}}</a>
                    </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>          
        </mat-card-content> 
        <mat-card-footer>            
          <button mat-fab color="accent"  [routerLink]="['/user/0', '-1']"  id="add-button"
                matTooltip="Add New User" i18n-matTooltip="@@add_user" name="matTooltip">
                <mat-icon>add_circle_outline</mat-icon>
          </button>  
        </mat-card-footer>
      </mat-card> 
  </section>