<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section fxLayout="row wrap" fxLayoutAlign="center center" class="admin-container">
    <mat-card  fxFlex.xs="100%">  
        <mat-card-header >        
            <a href="#" [routerLink]="['/commons2', common.p2Id]" title="Parent items" i18n-title="@@parent_items" name="title"> 
                <mat-icon>keyboard_arrow_up</mat-icon>  
            </a> 
            {{common.parentName}}
        </mat-card-header>     
        <mat-card-content>             
            <table mat-table [dataSource]="commons" class="admin-table">                 
                 <!-- Subitems Column -->
                <ng-container matColumnDef="abrv">
                    <td mat-cell *matCellDef="let common">
                        <a href="#" [routerLink]="['/commons', common.id]" title="Sub items" i18n-title="@@sub_items" name="title">                            
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </a>                        
                    </td>
                </ng-container>     
                <!-- Group Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef i18n="@@code"> Code </th>
                    <td mat-cell *matCellDef="let common"> {{common.id}} </td>
                </ng-container>
                <!-- Goup Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef i18n="@@common_code_name"> Code Name </th>
                    <td mat-cell *matCellDef="let common">
                        <a href="#" [routerLink]="['/common/1', common.id]">{{common.name}}</a>
                    </td>
                </ng-container> 
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <mat-paginator
                    (page)="handlePageEvent($event)"
                    [length]="length"
                    [pageSize]="pageSize"
                    [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageIndex]="pageIndex"
                    aria-label="Select page">
                </mat-paginator>
            </table> 
    </mat-card-content>
    <mat-card-footer>            
        <button mat-fab color="accent"  [routerLink]="['/common/0', '-1']"  id="add-button"
                matTooltip="Add New Common Code" i18n-matTooltip="@@add_common" name="matTooltip">
                <mat-icon>add_circle_outline</mat-icon>
        </button>  
    </mat-card-footer>
    </mat-card>
</section>